body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 40px;
}

.resume {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #999;
    font-size: 15px;
    line-height: 1.5;
}

.header {
    text-align: center;
    border-bottom: 1px solid #999;
}

h2 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: underline;
}

p {
    margin: 5px 0;
}

strong {
    font-size: 16px;
}
